@{
    ViewBag.Title = "Добро пожаловать";
    ViewBag.Message = "Приветствуем Вас в нашем интернет магазине WebShop. Здесь вы найдете самые современные пылесосы от самых крупных производителей в мире.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title!</h1><br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Новые поступления этой недели:</h3>

 @foreach (WebShop.VacuumCleaner item in ViewBag.TopThree) {
    <div class="galleryItem">
        <a href="@Url.Action("Details","VacuumCleaner",new { item.id })"> 
            <h3>@item.Consumers.name @item.model</h3> 
            <div class="container-img">          
             @if (item.image == null) {
                <img src="~/Images/no_image.png"/>
            }
            else {
              <img src="@Url.Action("GetImage", "VacuumCleaner", new { item.id })" />
            }
            <div class="price-text">
                <h6 class="price-header">@item.price</h6>
            </div>
            </div>
        </a>        
        @{
            if(item.description.Length > 220)
            {
                <p>@item.description.Substring(0,219)...<a href="@Url.Action("Details","VacuumCleaner",new { item.id })"> Подробнее...</a></p>
                
            }
            else
            {
                <p>@item.description <a href="@Url.Action("Details","VacuumCleaner",new { item.id })"> Подробнее...</a></p>
            }
        }
        
    </div>
    }

<!--table>
    <tr>
         @foreach(WebShop.VacuumCleaner vc in ViewBag.TopThree)
        {
            <th>@vc.model</th>
        }
    </tr>
    <tr>
    foreach(WebShop.VacuumCleaner vc in ViewBag.TopThree)
    {
        <td>
        if (vc.image == null)
        {
                <img src="~/Images/no_image.png" width="200" height="200" />
            }
            else {
              <img width="200" height="200" src="Url.Action("GetImage", "VacuumCleaner", new { vc.id })" />
            }
            </td>
    }
    </table-->
        
    
