@model WebShop.VacuumCleaner

@{
    ViewBag.Title = "Описание";
}
@if(Request.IsAuthenticated){
         <p>
       <a href="~/VacuumCleaner/Edit/@Model.id">Редактировать</a> 
             </p>      
        }
<h2 id="header">Пылесос @Html.DisplayFor(model => model.Consumers.name) @Html.DisplayFor(model => model.model)</h2>
<p id="header">
    @Html.ActionLink("Назад", "Index")
</p>
<div class="detailsContainer">
    
    @if (Model.image == null)
    {
        <img  class="details-content" src="~/Images/no_image.png"/>
    }
    else
    {
        <img  class="details-content" src="@Url.Action("GetImage","VacuumCleaner",new {Model.id})"/>
    }
</div>
@{
    Html.RenderPartial("ProductSummary",Model );
    }

<div class="details">

     
    <p><b>Спецификации:</b></p>
    <table>
        <tr>
            <td><label>Модель:</label></td>
            <td>@Html.DisplayFor(model => model.model)</td>
        </tr>
        <tr>
            <td><label>Производитель:</label></td>
            <td>@Html.DisplayFor(model => model.Consumers.name)</td>
        </tr>
        <tr>
            <td><label>Тип пылесоса:</label></td>
            <td>@Html.DisplayFor(model => model.type)</td>
        </tr>
        <tr>
            <td><label>Тип уборки:</label></td>
            <td>@Html.DisplayFor(model => model.harvestingType)</td>
        </tr>
        <tr>
            <td><label>Тип питания:</label></td>
            <td>@Html.DisplayFor(model => model.powerType)</td>
        </tr>
        @if(Model.consumePower!=null && Model.consumePower>0){
         <tr>
            <td><label>Потребляемая мощность:</label></td>
            <td> @Html.DisplayFor(model => model.consumePower) Вт</td>
         </tr>
        }
        @if(Model.suckPower!=null && Model.suckPower>0){
        <tr>
            <td><label>Мощность всасывания:</label></td>
            <td>@Html.DisplayFor(model => model.suckPower) Вт</td>
        </tr>
        }
        <tr>
            <td><label>Шум:</label></td>
            <td>@Html.DisplayFor(model => model.noise) Дб</td>
        </tr>
        <tr>
            <td><label>Тип контенера для сборки пыли:</label></td>
            <td>@Html.DisplayFor(model => model.stackType)</td>
        </tr>
    
        @if (Model.cordLength != null)
        {
            if (Model.cordLength > 0)
            {
                <tr>
                    <td><label>Длина провода:</label></td>
                    <td>@Html.DisplayFor(model => model.cordLength) м</td>
                </tr>
            }
        }
        <tr>
            <td><label>Количество насадок:</label></td>
            <td>@Html.DisplayFor(model => model.capCount) шт.</td>
        </tr>
        <tr>
            <td><label>Вес:</label></td>
            <td>@Html.DisplayFor(model => model.weigth) кг</td>
        </tr>
        @if (Model.battery != null)
        {
            if (Model.battery > 0)
            {
                <tr>
                    <td><label>Емкость баттареи:</label></td>
                    <td>@Html.DisplayFor(model => model.battery) мА</td>
               </tr>
            }
        }
    </table>
</div>


