@model WebShop.Models.VacuumCleaner

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VacuumCleaner</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.model)
            @Html.ValidationMessageFor(model => model.model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.consumerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.consumerId)
            @Html.ValidationMessageFor(model => model.consumerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.typeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.typeId)
            @Html.ValidationMessageFor(model => model.typeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.harvestingTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.harvestingTypeId)
            @Html.ValidationMessageFor(model => model.harvestingTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.powerTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.powerTypeId)
            @Html.ValidationMessageFor(model => model.powerTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.consumePower)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.consumePower)
            @Html.ValidationMessageFor(model => model.consumePower)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.suckPower)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.suckPower)
            @Html.ValidationMessageFor(model => model.suckPower)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.noise)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.noise)
            @Html.ValidationMessageFor(model => model.noise)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.stackTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.stackTypeId)
            @Html.ValidationMessageFor(model => model.stackTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cordLength)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cordLength)
            @Html.ValidationMessageFor(model => model.cordLength)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.capCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.capCount)
            @Html.ValidationMessageFor(model => model.capCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.weigth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.weigth)
            @Html.ValidationMessageFor(model => model.weigth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.barCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.barCode)
            @Html.ValidationMessageFor(model => model.barCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.battery)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.battery)
            @Html.ValidationMessageFor(model => model.battery)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
