@model IEnumerable<WebShop.VacuumCleaner>
@{
    ViewBag.Title = "Результаты поиска";
}
<h2>Результаты поиска</h2>

@if (Model.Count(c=>true) == 0)
{
    <p>Ничего не найдено, измените данные поиска и попробуйте снова</p>
    <a href="@ViewBag.returnUrl">Назад</a>
}
else
{
<div class="container">  
    @{
    WebShop.Controllers.VacuumCleanerController vcc = new WebShop.Controllers.VacuumCleanerController();
    }
    @foreach (var item in Model) {
    <div class="galleryItem">
        <a href="@Url.Action("Details","VacuumCleaner",new { item.id })"> 
            <h3>@vcc.GetConsumerForCleaner(item) @item.model</h3> 
            <div class="container-img">          
             @if (item.image == null) {
                <img src="~/Images/no_image.png"/>
            }
            else {
              <img src="@Url.Action("GetImage", "VacuumCleaner", new { item.id })" />
            }
            <div class="price-text">
                <h6 class="price-header">@item.price</h6>
            </div>
            </div>
        </a>        
        @{
            if(item.description.Length > 220)
            {
                <p>@item.description.Substring(0,219)...<a href="@Url.Action("Details","VacuumCleaner",new { item.id })"> Подробнее...</a></p>
                
            }
            else
            {
                <p>@item.description <a href="@Url.Action("Details","VacuumCleaner",new { item.id })"> Подробнее...</a></p>
            }
        }
        
    </div>
    }

</div>
    @Html.ActionLink("Назад","Index","Search")
}